@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

*, body {
   font-size: 16px;
   font-family: 'Source Serif Pro', sans-serif;
   font-style: normal;
   color: #FFFFFF;
}

body{
    background: #E8EBE6 !important;
    height: 2100px;
}

.container{
    max-width: 1024px !important;
}

header .row:nth-child(1){
    position: relative;
    top: 7px;
}

.header-background{
    position: absolute;
    height: 436px;
    width: 100%;
    background: radial-gradient(57.94% 57.94% at 50% 42.06%, rgba(29, 53, 35, 0.83) 0%, #1D3523 100%);
}

.brand-logo{
    width: 59px;
    height: 59px;
    opacity: 0.9;
    margin-right: 18px;
}

.brand-name{
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
}

.communication span{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.languages{
    list-style: none;
}

.languages li{
    margin-right: 40px;
}

.languages a{
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.languages a:hover{
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #63A082;
}

.search ul{
    list-style: none;
    display: flex;
    padding: 0 !important;
    margin: 15.5px;
    width: 100%;
}

.search ul li{
    margin-right: 16px;
}

.search ul li a{
    margin-right: 16px;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #63A082;
    transition: .3s;
}

.search ul li a:hover{
    text-decoration: none;
    color: #ffffff;
}

.search-form{
    width: 977px;
    display: flex;
    align-items: baseline;
    border: 2px solid #B6D5C6;
    box-sizing: border-box;
    border-radius: 71px;
    padding: 0 24px;
    background-color: rgba(255,255,255,0);
}

.search-form button{
    border: none;
    background: none;
}

.search-form button:focus{
    outline: none;
    border: none;
    background: none;
}

.search-input::placeholder{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #B6D5C6;
}

.search-input[type=search]{
    background-color: rgba(255,255,255,0);
    -webkit-appearance: media-slider;
}
.search-input[type=search]:focus{
    outline: none;
    -webkit-appearance: media-slider;
}











.header_link-icons img{
    margin-left: 24px;
    height: 14px;
    width: 14px;
}

.header_link-icons img{
    cursor: pointer;
}

.close-btn-language{
    cursor: pointer;
}


/* NAVBAR */

.navigation ul{
    list-style: none;
    width: 100%;
}

.navigation ul .nav-item-link{
    padding: 10px 0;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    -webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}

.navigation ul .nav-item-link:hover{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #B6D5C6;
}


.navigation ul li.drop {
	position: relative;
}

.navigation ul > li {
	display: inline-block;
}

.navigation .dropOut .triangle {
	width: 0;
	height: 0;
	position: absolute;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid white;
	top: -8px;
	margin-left: -8px;
}

.navigation .dropdownContain {
	width: 200px;
	position: absolute;
	z-index: 2;
	left: 50%;
	top: -1400px;
}

.navigation > div > ul > li:nth-child(1) > div > div > div {
	left: 11%;
	margin-left: -8px;
}

.navigation > div > ul > li:nth-child(2) > div > div > div {
	left: 24%;
	margin-left: -8px;
}

.navigation > div > ul > li:nth-child(1) > .dropdownContain{
	margin-left: -28px;
}

.navigation > div > ul > li:nth-child(2) > .dropdownContain{
	margin-left: -68px;
}

.navigation .dropOut {
	width: 269px;
    padding: 8px 16px 8px 16px;
	background: white;
	float: left;
	position: relative;
	margin-top: 0px;
	opacity: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}

.navigation .dropOut ul {
	float: left;
	padding: 10px 0;
}

.navigation .dropOut ul li {
	text-align: left;
	float: left;
	margin: 4px 30px 4px 0;
}

.navigation .drop > div > div > ul > li > a{ 
    color: #262626;
}

.navigation  .dropOut ul li:hover a:hover { 
    color: #4C8D6C;
}
.navigation ul li:hover .dropdownContain { top: 25px; }
.navigation ul li:hover .underline { border-bottom-color: #777; }
.navigation ul li:hover .dropOut { opacity: 1; margin-top: 8px; }

.information-for-people{
    position: relative;
    top: 62px;
}

.information-for-people .myColumn{
    min-width: 320px;
    max-width: 330px;
}

.information-for-people .header-text{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.information-for-people .information-btn-link{
    width: 177px;
    height: 41px;
    margin-top: 16px;
    border: 2px solid #A06B39;
    /* border-image-source: linear-gradient(90deg, #A06B39 0%, #D8A57B 100%); */
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #D8A57B;
}
.information-for-people > div > div:nth-child(3) > div, .information-for-people > div > div:nth-child(1) > div{
    position: absolute;
    bottom: 0;
}

.information-for-people > div:nth-child(3) > div > a{
    margin-top: 41px;
}

.information-for-people div.pr-0.col-4 > a{
    position: relative;
}

.online-services{
    margin-top: 118px;
}

.online-services .card{
    padding: 24px 24px 17px 24px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}

.online-services .card-header-text p{
    word-break:keep-all;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #000000;
}

.online-services .card-content .select-form{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #7B7B7B;
    background: #FFFFFF;
    width: 100%;
    padding: 8px 1px 8px 16px;
    border: 1px solid #B6D5C6;
    box-sizing: border-box;
    border-radius: 2px;
}

.online-services .card-content .select-form:focus{
    outline: 1px solid ;
}

.online-services .card-content .service-input-place{
    margin-top: 16px;
}   

.online-services .card-content .service-input-place input{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #7B7B7B;
    background: #FFFFFF;
    width: 100%;
    padding: 8px 1px 8px 16px;
    border: 1px solid #B6D5C6;
    box-sizing: border-box;
    border-radius: 2px;
}  

.online-services .card-content .service-input-place input:focus{
    outline: 1px solid ;
}

.online-services .card-content .service-btn{
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-top: 16px;
    border: none;
    background: #63a08100;
    border-radius: 4px;
    outline: 2px solid #B6D5C6;
    width: 100%;
    padding: 12px;
    color: #63A082;
    transition: .3s;
}

.online-services .card-content .service-btn:hover{
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-top: 16px;
    background: #63A082;
    color: #FFFFFF;
    border-radius: 4px;
    outline: 2px solid #B6D5C6;
    width: 100%;
    padding: 12px;
}

.survey__checkbox .checkboxes label{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: #7B7B7B;
    padding: 0;
    margin: 0 0 9px 0;
}

.survey__checkbox label{
    margin-bottom: 0;
}

.survey__checkbox .custom-checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.survey__checkbox .custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    z-index: 2;
}

.survey__checkbox .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #63A082;
    box-sizing: border-box;
    border-radius: 2px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    transition: 0.3s;
    z-index: 12;
}

.survey__checkbox .custom-checkbox:checked+label::before {
    z-index: 12;
    border-color: #63A082;
    background-color: #63A082;
    background-size: 10px 8px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.news-slider{
    margin-top: 24px;
}

.news-content{
    margin-top: 32px;
}

.owl-nav .owl-prev, .owl-nav .owl-next{
    margin-left: 8px;
    outline: none;
}

.owl-nav .owl-prev img, .owl-nav .owl-next img{
    width: 48px;
    height: 48px;
    background: #4C8D6C;
    border-radius: 5px;
    padding: 17px;
}

.owl-nav{
    position: absolute;
    top: -65px;
    right: 0;
    display: flex !important;
}

.head-text{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
}

.news-slider .item{
    background: #000000;
    border-radius: 4px;
}

.new-content .new-date{
    position: absolute;
    top: 16px;
    left: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    z-index: 1;
}

.new-content .new-img{
    opacity: 0.6;

}

.new-content .new-description{
    position: absolute;
    top: 173px;
    left: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.announcement-content{
    margin-top: 32px;
}

.announcement-card{
    min-width: 320px;
    max-width: 320px;
    padding: 40px 0 26px 24px;
    background: #FFFFFF;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}

.announcement-card .announcement-date{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #555555;
}

.announcement-card .announcement-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7B7B7B;
}

.announcement-card .announcement-link{
    text-decoration: none;
    width: 142px;
    padding: 12px 30px;
    background: #63A082;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}


.chart-content{
    background-color: #FFFFFF;
}



.charts{
    position: relative;
    width: 600px !important;
}

.charts .owl-nav{
    display: none !important;
}

.chart-body{
    position: relative;
}

.chart-content .owl-dots{
    position: absolute;
    width: 320px !important;
    left: -428px;
    top: 10px;
}

.charts .owl-dot{
    text-align: initial;
    display: block !important;
}

.charts .owl-dot button{
    text-align: initial;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #7B7B7B;
    background: none;
    outline: none;
    border: none;
}

.charts .owl-dot.active button{
    text-align: initial;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1D3523;
    background: none;
    outline: none;
    border: none;
}

.custom-control{
    height: 655px;
    background: radial-gradient(73.24% 73.24% at 50% 50%, #1D374D 0%, #061A2B 100%);
}

.custom{
    margin: 0 auto 0 40px !important;
    top: 18%;
}

.custom-control .head-text{
    top: 32px;
    position: absolute;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}
        
.map{
    user-select: none;
    z-index: 2;
    top: 15%;
    position: relative;
    text-align: center;
}

svg{
    position: absolute;
    left: 0px;
    height: 100%;
    width:  100%;
    
}
path{
    fill: #006b9900;
    cursor: pointer;
    transition: 0.6s;
}

path:hover{
    fill: #003d616d ;
}

.background-map{
    position: absolute;
    z-index: 1;
    top: 11px;
    left: -13px;
}

.place{
    z-index: 3;
    position: absolute;
    pointer-events: none;
    cursor: pointer;
}

.place p{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.place-bishkek{
    left: 370px;
    top: 30px
}

.place-talas{
    left: 230px;
    top: 50px
}

.place-naryn{
    left: 500px;
    top: 180px
}

.place-karakol{
    left: 700px;
    top: 60px
}

.place-osh{
    left: 280px;
    top: 290px
}

.place-j-abad{
    left: 230px;
    top: 210px
}

.place-batken{
    left: 100px;
    top: 320px
}

.second-place{
    z-index: 3;
    position: absolute;
    pointer-events: none;
    cursor: pointer;
}

.second-place p{
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #9E9E9E;
}

.place-kazakhstan{
    left: 580px;
    top: -30px
}

.place-uzbekistan{
    left: -50px;
    top: 250px
}

.place-tadjikistan{
    left: -80px;
    top: 430px
}

.place-china{
    left: 580px;
    top: 400px
}

.custom-card{
    position: absolute;
    right: -68px;
    z-index: 4;
    top: 170px;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 24px 10px 10px 16px;
    min-width: 267px;
    max-width: 267px;
}

.cstm-card-body .body-header-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #000000;
}


.cstm-card-body .values{
    flex-wrap: wrap;
    color: #7B7B7B;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.cstm-card-body p{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #555555;
}

.goverment-links .anthem img{
    width: 80px !important;
}

.goverment-links img{
    width: 48px !important;
}

.goverment-links-slider .item a{
    text-decoration: none;
    text-align: center;
}

.goverment-links-slider .item p{
    margin-top: 16px;
    max-width: 144px;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #7B7B7B;
}

.goverment-links-slider .owl-dots{
    justify-content: center;
    display: flex !important;
}

.goverment-links-slider .owl-nav{
    display: none !important;
}

.goverment-links-slider .owl-dot{
    outline: none !important;
}

.goverment-links-slider .owl-dot span{
    background: #8ABAA3 !important;
}

.goverment-links-slider .owl-dot.active span{
    background: #315F43 !important;
}

.line span{
    margin-top: 72px;
    width: 80%;
    height: 1px;
    background: #D9D9D9;
}

.useful-links{
    margin: 56px 0 24px;
    padding-bottom: 50px;
}

.useful-links .header-text{
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.useful-links ul{
    list-style: none;
    padding: 0;
}

.useful-links .address li{
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7B7B7B;
}

.useful-links li{
    margin-bottom: 8px;
}

.useful-links li a{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7B7B7B;
}

.social a{
    text-decoration: none !important;
}